In [2]:
import pandas as pd

In [6]:
df = pd.read_csv("../data/Library_Usage.csv")

In [7]:
print(df)

        Patron Type Code Patron Type Definition  Total Checkouts  \
0                      0                  ADULT                0
1                      0                  ADULT               31
2                      0                  ADULT                0
3                      0                  ADULT                0
4                      0                  ADULT              126
...                  ...                    ...              ...
423443                 0                  ADULT              291
423444                 0                  ADULT               15
423445                 5                  STAFF              208
423446                 0                  ADULT               26
423447                 1               JUVENILE                0

        Total Renewals       Age Range Home Library Code  \
0                    0  20 to 24 years                P1
1                   22  25 to 34 years                S7
2                    0  45 to 54 years                P1
3                    0  25 to 34 years                 X
4                   11  45 to 54 years                M2
...                ...             ...               ...
423443              13  10 to 19 years                P5
423444              11  60 to 64 years                M8
423445              58    0 to 9 years                B4
423446               0  10 to 19 years                M6
423447               0    0 to 9 years                E7

                   Home Library Definition Circulation Active Month  \
0                                     Park                     None
1                                   Sunset                    April
2                                     Park                     None
3                             Main Library                     None
4                                   Marina                  January
...                                    ...                      ...
423443                             Portola                    March
423444                         Mission Bay                     July
423445                      Bernal Heights                     July
423446                             Mission                    April
423447  Eureka Valley/Harvey Milk Memorial                     None

       Circulation Active Year Notice Preference Code  \
0                         None                      z
1                         2016                      z
2                         None                      a
3                         None                      z
4                         2016                      z
...                        ...                    ...
423443                    2015                      p
423444                    2016                      z
423445                    2016                      z
423446                    2015                      z
423447                    None                      a

       Notice Preference Definition  Provided Email Address  \
0                             email                    True
1                             email                    True
2                             print                   False
3                             email                    True
4                             email                    True
...                             ...                     ...
423443                        phone                   False
423444                        email                    True
423445                        email                    True
423446                        email                    True
423447                        print                   False

        Year Patron Registered  Outside of County  Supervisor District
0                         2014              False                  5.0
1                         2010              False                  4.0
2                         2016               True                  NaN
3                         2015              False                  3.0
4                         2003              False                  2.0
...                        ...                ...                  ...
423443                    2009              False                  9.0
423444                    2016              False                  6.0
423445                    2014              False                  9.0
423446                    2003              False                  9.0
423447                    2015              False                  8.0

[423448 rows x 15 columns]

In [8]:
len(df)

423448

In [16]:
df.groupby('Year Patron Registered').max()

/tmp/ipykernel_19192/3283726086.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  df.groupby('Year Patron Registered').max()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Outside of County,Supervisor District
Year Patron Registered,,,,,,,,,,,,
2003,104,YOUNG ADULT,35907,8965,Western Addition,September,None,z,print,True,True,11.0
2004,103,YOUNG ADULT,15505,8181,Western Addition,September,None,z,print,True,True,11.0
2005,103,YOUNG ADULT,18397,5284,Western Addition,September,None,z,print,True,True,11.0
2006,103,YOUNG ADULT,25223,4949,Western Addition,September,None,z,print,True,True,11.0
2007,104,YOUNG ADULT,9690,4308,Western Addition,September,None,z,print,True,True,11.0
2008,103,YOUNG ADULT,8540,4077,Western Addition,September,None,z,print,True,True,11.0
2009,104,YOUNG ADULT,5959,3854,Western Addition,September,None,z,print,True,True,11.0
2010,104,YOUNG ADULT,10809,3309,Western Addition,September,None,z,print,True,True,11.0
2011,103,YOUNG ADULT,5955,2393,Western Addition,September,None,z,print,True,True,11.0
2012,104,YOUNG ADULT,4934,2788,Western Addition,September,None,z,print,True,True,11.0
2013,104,YOUNG ADULT,5751,1993,Western Addition,September,None,z,print,True,True,11.0
2014,104,YOUNG ADULT,2002,1215,Western Addition,September,None,z,print,True,True,11.0
2015,104,YOUNG ADULT,2255,709,Western Addition,September,None,z,print,True,True,11.0
2016,104,YOUNG ADULT,783,330,Western Addition,None,None,z,print,True,True,11.0

In [17]:
df.max(axis = 1, skipna = True)

/tmp/ipykernel_19192/2680171168.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.max(axis = 1, skipna = True)

0         2014.0
1         2010.0
2         2016.0
3         2015.0
4         2003.0
           ...
423443    2009.0
423444    2016.0
423445    2014.0
423446    2003.0
423447    2015.0
Length: 423448, dtype: float64

In [21]:
df[["Year Patron Registered"]].groupby("Year Patron Registered").sum()

Empty DataFrame
Columns: []
Index: [2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]

In [22]:
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0

In [23]:
df.describe()

,Patron Type Code,Total Checkouts,Total Renewals,Year Patron Registered,Supervisor District
count,423448.000000,423448.000000,423448.000000,423448.000000,313138.000000
mean,1.036765,161.982097,59.657327,2010.348917,6.288240
std,4.188198,453.703678,225.009917,4.357374,3.123634
min,0.000000,0.000000,0.000000,2003.000000,1.000000
25%,0.000000,2.000000,0.000000,2007.000000,4.000000
50%,0.000000,19.000000,2.000000,2012.000000,6.000000
75%,1.000000,113.000000,27.000000,2014.000000,9.000000
max,104.000000,35907.000000,8965.000000,2016.000000,11.000000

In [24]:
df.count()

Patron Type Code                423448
Patron Type Definition          423448
Total Checkouts                 423448
Total Renewals                  423448
Age Range                       423233
Home Library Code               423408
Home Library Definition         423448
Circulation Active Month        423448
Circulation Active Year         423448
Notice Preference Code          423448
Notice Preference Definition    423448
Provided Email Address          423448
Year Patron Registered          423448
Outside of County               423448
Supervisor District             313138
dtype: int64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423448 entries, 0 to 423447
Data columns (total 15 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Patron Type Code              423448 non-null  int64
 1   Patron Type Definition        423448 non-null  object
 2   Total Checkouts               423448 non-null  int64
 3   Total Renewals                423448 non-null  int64
 4   Age Range                     423233 non-null  object
 5   Home Library Code             423408 non-null  object
 6   Home Library Definition       423448 non-null  object
 7   Circulation Active Month      423448 non-null  object
 8   Circulation Active Year       423448 non-null  object
 9   Notice Preference Code        423448 non-null  object
 10  Notice Preference Definition  423448 non-null  object
 11  Provided Email Address        423448 non-null  bool
 12  Year Patron Registered        423448 non-null  int64
 13  Outside of County             423448 non-null  bool
 14  Supervisor District           313138 non-null  float64
dtypes: bool(2), float64(1), int64(4), object(8)
memory usage: 42.8+ MB